Repository eabruzzese/django-flexible-forms: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, dephell

autoflake:
  name: autoflake
  entry: autoflake
  args:
  - --in-place
  - --remove-all-unused-imports
  - --ignore-init-module-imports
  language: python_venv
  additional_dependencies:
  - autoflake

dephell:
  name: dephell
  entry: dephell deps convert
  language: python_venv
  pass_filenames: false
  require_serial: true
  additional_dependencies:
  - dephell[full]

Initial pass at a compound field
  flexible_forms/fields.py
  flexible_forms/templates/flexible_forms/widgets/compoundvaluewidget.html
Due: autoflake

Add a contrib module for housing external integrations
  flexible_forms/contrib/__init__.py
  flexible_forms/contrib/graphene/__init__.py
Due: autoflake

Use better default widgets for dates and times
  flexible_forms/fields.py
Due: autoflake

Ensure autocomplete options contain an id field, fix default values
  flexible_forms/forms.py
  flexible_forms/widgets.py
Due: autoflake

Minor fixes and updates
  flexible_forms/fields.py
  flexible_forms/widgets.py
Due: autoflake

Treak pk as a native field on record
  flexible_forms/models.py
Due: autoflake

Various fixes and admin improvements
  flexible_forms/admin.py
  flexible_forms/fields.py
  flexible_forms/models.py
  flexible_forms/static/flexible_forms/admin/code-editor-admin-widget.css
  flexible_forms/utils.py
  poetry.lock
  pyproject.toml
  tests/test_app/tests/test_models.py
Due: autoflake, dephell

Add a pseudo-method to BaseRecord to mimic get_FIELDNAME_display
  flexible_forms/models.py
Due: autoflake

Fix tests, handle autocomplete edge cases
  flexible_forms/fields.py
  flexible_forms/forms.py
  flexible_forms/utils.py
  flexible_forms/widgets.py
  tests/conftest.py
  tests/quiz_builder/tests/test_widgets.py
  tests/test_app/tests/test_models.py
Due: autoflake

Upgrade dependencies, fix tests
  flexible_forms/__init__.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_project/settings.py
Due: autoflake, dephell

WIP
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: dephell

Upgrade poetry in GHA
  .github/workflows/build.yml
Due: none

Tweak setup
  setup.cfg
Due: none

Fixes for pre-commit issues, admin fixes, and some DX improvements and simplifications
  .pre-commit-config.yaml
  flexible_forms/__init__.py
  flexible_forms/admin.py
  flexible_forms/fields.py
  flexible_forms/forms.py
  flexible_forms/models.py
  flexible_forms/static/flexible_forms/admin/code-editor-admin-widget.css
  flexible_forms/utils.py
  flexible_forms/widgets.py
  setup.cfg
  setup.py
  tests/conftest.py
  tests/quiz_builder/tests/test_widgets.py
  tests/test_app/tests/test_admin.py
  tests/test_app/tests/test_models.py
  tests/test_project/settings.py
Due: autoflake

Fixes for the add_view experience
  flexible_forms/admin.py
  flexible_forms/forms.py
  flexible_forms/models.py
  tests/quiz_builder/tests/test_fields.py
  tests/test_app/tests/test_models.py
Due: autoflake

Fix a bug preventing admin add forms from saving records in some cases
  flexible_forms/forms.py
Due: autoflake

Handle an edge case where the form relation is excluded from the form
  flexible_forms/forms.py
Due: autoflake

Upgrade the poetry version in the pre-commit action
  .github/workflows/pre-commit.yml
Due: none

Upgrade the poetry version in the release action
  .github/workflows/release.yml
Due: none

GitHub Actions tweaks
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
Due: none

More actions tweaks
  .github/workflows/build.yml
Due: none

Pin dephell in pre-commit
  .pre-commit-config.yaml
Due: none

Set the field value appropriately
  flexible_forms/forms.py
Due: autoflake

Minor bugfixes
  flexible_forms/fields.py
  flexible_forms/forms.py
  flexible_forms/utils.py
  tests/quiz_builder/tests/test_widgets.py
Due: autoflake

Add support for custom validations via clean signals
  flexible_forms/forms.py
Due: autoflake

Extend field parameter support to include more options
  flexible_forms/models.py
Due: autoflake

Capitalize metadata for consistency
  flexible_forms/admin.py
Due: autoflake

Add support for fieldset signals
  flexible_forms/admin.py
  flexible_forms/forms.py
  flexible_forms/models.py
  flexible_forms/signals.py
Due: autoflake

Add a FloatField field type
  flexible_forms/fields.py
Due: autoflake

Don't clobber database-defined attributes for DateField field types
  flexible_forms/fields.py
Due: autoflake

Support lookup fields and callables in JMESPath expressions for autocomplete-type fields
  flexible_forms/fields.py
  flexible_forms/models.py
Due: autoflake

Implement default step attributes for numeric field widgets
  flexible_forms/fields.py
Due: autoflake

Use class_prepared to add fields to BaseRecordAttribute
  flexible_forms/models.py
Due: autoflake

Cleanup
  flexible_forms/admin.py
  flexible_forms/fields.py
  flexible_forms/forms.py
  flexible_forms/models.py
Due: autoflake

Fix dephell
  .pre-commit-config.yaml
Due: none

Add a few missing parameters to Field constructors
  flexible_forms/fields.py
Due: autoflake

Path conditions:
  autoflake: any of: \.py$
  dephell: any of: ^pyproject.toml$
